@charset "utf-8";
/* CSS Document */
#sectionWrapper #sectionContentWrapper .welcome{
	width:585px;
	height:auto;
	position:relative;
	margin:50px 0 0 0;
	float:left;
}
#sectionWrapper #sectionContentWrapper .welcome header h2{
	font-size:60px;
	font-family:'Impact' , sans-serif;
	color:#fff;
	text-shadow:1px 1px 0px #333333;
	letter-spacing:1px;
}
#sectionWrapper #sectionContentWrapper .welcome header h2 span{
	color:#89251d;
}
#sectionWrapper #sectionContentWrapper .welcome article{
	width:505px;
	height:300px;
	position:relative;
	border-top:10px solid #89251d;
	background:url(../common/img/bg/transparent-bg.png);
	margin:40px 0 0 0;
	padding:20px 40px 40px 40px;
}
#sectionWrapper #sectionContentWrapper .welcome article .point{
	width:34px;
	height:17px;
	position:absolute;
	top:-27px;
	left:60px;
	background:url(../img/top-arrow.png) no-repeat;
}
#sectionWrapper #sectionContentWrapper .welcome article header h2{
	font-size:30px;
	font-family:'Impact' , sans-serif;
	color:#cccccc;
	text-shadow:1px 1px 0px #333333;
	letter-spacing:1px;
	border:1px solid #000;
	border-left:0px;
	border-right:0px;
	padding:10px 0;
}
#sectionWrapper #sectionContentWrapper .welcome article header h2 span{
	color:#89251d;
}
#sectionWrapper #sectionContentWrapper .welcome article p{
	text-align:justify;
	color:#333;
	font-family:'Exo 2' , serif;
	font-size:14px;
	line-height:24px;
	margin:10px 0 0 0;
}
#sectionWrapper #sectionContentWrapper .model-Slider{
	width:435px;
	height:595px;
	position:relative;
	background:#fff;
	left:585px;
	top:20px;
	-moz-box-shadow: 0 0 5px 2px #333;
	-webkit-box-shadow: 0 0 5px 2px #333;
	box-shadow: 0 0 5px 2px #333;
}

